{
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint", "deprecation"],
    "ignorePatterns": ["dist", "*.js", "*.mjs"],
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "windows"],
        "quotes": ["error", "single"],
        "semi": ["error", "never"],
        "eqeqeq": "error",
        "no-console": "warn",
        "@typescript-eslint/no-non-null-assertion": "off",
        "deprecation/deprecation": "warn",
        "@typescript-eslint/no-explicit-any": "off",
        "prefer-rest-params": "off"
    }
}
